body {
    background-color: grey;
}
.first {
    font-style: italic;
}
.second {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.third {
    -webkit-text-fill-color: blue;
}
.fourth {
    padding-left: 50%;
}